form {
    display: inline-block;
}

.main-form {
    display: inline-block;
    width: 30vw;
}

.form-group {
    text-align: left;
    /* justify-self: center; */
}


.form-control {
    /* width: 40vw; */
    height: 40%;
    border-radius: 4px;
    transition: 0.3s all;
}

label {
    text-align: left;
}

input {
    width: 30vw;
    resize: none;
}

textarea {
    width: 30vw;
    height: 20vh;
    line-height: normal;
    line-break: normal;
    resize: none;
}

