/* div {
  background-color: white;
} */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0C3B55;
  font-family: 'DINCondensed-Bold';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

nav li a {
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #ffffff;
}

nav li a:hover{
    text-decoration: none;
    color: #ffffff;
}

nav li a:after{
	width:0%;
	content: "";
  margin:auto;
  display:inline-block;
  float: left;
  margin-top:-3px;
	border-top:3px solid #F57722;
	-webkit-transition: all .25s;
       -moz-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;	
}


nav li a:hover:after{
	width:100%;
}

nav li a:active, li a:active:after{
	border-color:#ccc;
	color:#F57722;

}


span {
  margin: 5px;
}

nav {
  height: 52px;
}

