

  .icon-bar {
    position: fixed;
    top: 30vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0%;
    background-color: transparent;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: #0C3B55;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .icon-bar .contact-button  {
      background:none;
      border:none;
      cursor: pointer;
      color: #0C3B55;
      font-size: 25px;
  }
  
form {
    display: inline-block;
}

