@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.library {
    text-align: center;
}

.blurb {
    max-width: 50%;
    font-family: "comic Sans";
    font-size: 12px;
}