.mainshowdiv {
    border: 50px solid #D5ECEA;
}

.mainshowdiv img {
    float: right;
    width: auto;
    max-height: 400px;
}

.showtext {
    max-width: 30rem;
    text-align: center;
    min-height: 400px;
    font-family: "open sans";
}