.about-container img {
    margin: 2%;
    border-radius: 2%;
    box-shadow: 1px 1px 10px #888;
}

.about-p {
    font-family: "Open Sans";
    font-size: 16px;
    text-align: left;
}

.about-p ul {
    text-align: left;
}


@media only screen and (max-width: 600px) {
    .about-container img {
        margin: 2%;
        border-radius: 2%;
        box-shadow: 1px 1px 10px #888;
    }

    .about-p {
        font-family: "Open Sans";
        font-size: 16px;
        text-align: left;
    }

    .about-p ul {
        text-align: left;
    }
}
