@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.about {
    text-align: center;
}

.about-blurb {
    max-width: 50%;
    font-family: "Open Sans";
    display: inline-block;
    font-size: 12px;
}