/* .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
} */

.hero {
    text-align: center;
    min-width: 400px;
}

.hero img {
    /* object-fit: cover; */
    width: 500px;
    height: 100px;
}