
.partners {
	width: 40vw;
	height: auto;
}

.map-heading {
	font-family: "DINCondensed-Bold";
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.map {
	display: none;
	}

	.partners {
	width: 100vw;
}
}