@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #D5ECEA !important;
  overflow-y: scroll;
}

.blurb {
  max-width: 50%;
  font-family: "Open Sans";
  display: inline-block;
  font-size: 16px;

}

.blurb-border {
  font-family: "Open Sans";
  display: inline-block;
  font-size: 16px;
}

.blurb-border p {
  min-width: 70vw;
  max-width: 75vw;
}

.blurb-border-title {
  min-width: 98vw;
  font-family: "DINCondensed-Bold";
  text-transform: uppercase;
  display: inline-block;
  font-size: 30px;
  background-color: #D5ECEA;
  border-top: 10px solid #D5ECEA;
}

button {
  border-radius: 5px;
  background: #F57722;
  padding: 20px;
  font-family: "DINCondensed-Bold";
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

button:hover {
  background: #D5ECEA;
  color: black;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

strong { 
  font-weight: bold;
}

.float-left-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.float-left-p p {
  min-width: 30vw;
  max-width: 30vw;
  margin-left: 5px;
}

.float-left-p img {
  margin-top: 2%;
  margin-right: 5px;
  border-radius: 2%;
  box-shadow: 1px 1px 10px #888;
  max-width: 50%;
  height: auto;
}